@model IEnumerable<CadastroFuncionarios.Models.Employee>

@{
    ViewData["Title"] = "Funcionários";
}

<div class="container py-3">
    <div class="row">
        <div class="col">
            <h4>Funcionários</h4>
        </div>
        <div class="col-md-auto">

            <a asp-action="Create" class="btn btn-primary">
                <i class="fa fa-plus mr-3" aria-hidden="true"></i>
                Novo
            </a>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeLocation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
